.container {
    position: absolute;
    width: 355px;
    height: 450px;
    border-radius: 5%;
    padding: 0px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}