.row {
  display: inline-table;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 350px;
  width: 350px;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(73, 80, 87, 0.2);
  border-radius: 12px
}

.title {
  color: antiquewhite;
  margin: auto;
  width: max-content;
  max-width: 350px;
  font-size: 27px;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.img {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 350px;
  height: 400px;
  padding: 10px;
  border-radius: 5%;
}

.buttons {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 10px;
}

.position {
  position: relative;
}