.row {
  display: inline-table;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 350px;
  width: 350px;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(73, 80, 87, 0.2);
  border-radius: 12px
}

.divTitle {
  color: antiquewhite;
  margin: auto;
  width: max-content;
  width: 300px;
  height: 40px;
  text-align: center;
  justify-content: center;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 27px;
  margin: 15px 0px
}

.img {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 350px;
  height: 400px;
  padding: 0px 15px;
  border-radius: 5%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.position {
  position: relative;
  width: 354px;
  height: 450px;
}